<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Profile</title>
</head>

<body>
    <h1>Delete Profile</h1>
    
    <p>Account Deletion Successful</p>

    

    <a href="/return-to-home">Return to Homepage</a>
</body>

</html>