<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Registration</title>
    <link rel="stylesheet" type="text/css" href="css\style_home.css">
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">FurnitureLagbe</a>

        <ul class="nav_items">
          <li class="nav_item">
            <a href="#" class="nav_link">Home</a>
            <a href="/products" class="nav_link">Products</a>
            <a href="#" class="nav_link">Sales</a>
            <a href="#" class="nav_link">Accounts</a>
          </li>
        </ul>

        <button class="button" id="form-open">Login/Registration</button>
      </nav>
    </header>

    <!-- Home -->
    <section class="home">
      <div class="form_container">
        <i class="uil uil-times form_close"></i>
<!-- Login Form -->
<div class="form login_form">
  <form action="/home" method="POST">
    <h2>Login</h2>

    <div class="input_box">
      <input type="email" name="id" placeholder="Enter your email" required />
      <i class="uil uil-envelope-alt email"></i>
    </div>
    <div class="input_box">
      <input type="password" name="password" placeholder="Enter your password" required />
      <i class="uil uil-lock password"></i>
      <i class="uil uil-eye-slash pw_hide"></i>
    </div>

    <div class="option_field">
      <span class="checkbox">
        <input type="checkbox" id="check" />
        <label for="check">Remember me</label>
      </span>
      <a href="#" class="forgot_pw">Forgot password?</a>
    </div>

    <button type="submit" class="button">Login Now</button>

    <div class="login_signup">Don't have an account? <a href="#" id="signup">Signup</a></div>
  </form>
</div>

<div class="form signup_form">
  <form action="/signup" method="POST">
    <!-- ... other form elements ... -->

    <div class="input_box">
      <input type="email" name="requested_username" placeholder="Enter your email" required />
      <!-- ... other attributes ... -->
    </div>
    <div class="input_box">
      <input type="password" name="requested_password" placeholder="Create password" required />
      <!-- ... other attributes ... -->
    </div>
    <div class="input_box">
      <input type="password" name="confirmPassword" placeholder="Confirm password" required />
      <!-- ... other attributes ... -->
    </div>

    <button type="submit" class="button">Signup Now</button>

    <div class="login_signup">Already have an account? <a href="#" id="login">Login</a></div>
  </form>
</div>
    <script src="js\script.js"></script>
  </body>
</html>